body {
    background-color: rgb(97, 63, 18);
    align-items: center;

    
}
h1 {
    color: rgb(255, 255, 255);
    padding: 60px;
    text-align-last: center;
    
}

h2{
    color: rgb(255, 255, 255);
    text-align-last: center;

}
